*{
  box-sizing: border-box;
}
html,body{
margin:0;
padding:0;
}
body {
    width: 100%;
    height: 100%;
    background: white;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #23353b, #00b4db);
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #0083b0, #00b4db); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}


 .blur-in{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/*.dialogBox{*/
/*  position:fixed;*/
/*  top:30%;*/
/*  left:30%;*/
/*  width:40%;*/
/*  height:40%;*/
/*  z-index: 10;*/
/*  background-color:rgba(0,0,0,0.6);*/
/*  font-family: 'Uncial Antiqua', cursive;*/
/*font-family: 'Abril Fatface', cursive;*/
/*box-shadow: 4px 4px 5p black;*/
/*}*/

.dialogInner{
  text-align: center;
}

.close-button{
  text-decoration: none;
  color:white;
}
.close-button:active{
  color:white;
}

  .navbar .nav-link {
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    bottom:30%;
     left:30px;
    text-transform: capitalize;
  }
  .navbar .navbar-brand{
  	 position:relative;
  	 bottom:30%;
  }
  .nav-link:hover{
  background-color:rgba(255,255,255,0.6);
  }
  .navbar .navbar-toggler {
    border: none;
    background: rgba(255,255,255,0.6) !important;
  }
  
  .navbar .navbar-toggler:focus {
    outline: none;
    background: rgba(255,255,255,0.6) !important;
  }
  .navbar .navbar-toggler .icon-bar .nav-link {
    background-color: rgba(1,40,65,0.9);
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all 0.2s;
  }
  .navbar .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 5px;
    border-radius: 1px;
  }
  
  .navbar .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 0px;
  }
  .navbar .icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all 0.2s;
  }
  .navbar .navbar-toggler:hover > .icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all 0.2s;
  }
 .navbar .navbar-toggler:active > .icon-bar:nth-child(2) {
    width: 20px;
    transition: ease all 0.2s;
  }
 .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all 0.2s;
  }
  .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all 0.2s;
  }
  .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all 0.2s;
  }
  
  .navbar-custom {
    background-color:rgba(255, 255, 255, 0.6);
  }
  
  @media only screen and (min-width: 992px) {
    .navbar-custom {
      height: 20%;
      box-shadow: none;
      background-color: transparent;
      transition-duration: 0.6s;
    }
    .navbar-custom .navbar-brand {
      color:rgba(1,40,65,0.9);
      font-size: 10px;
    }
    .navbar{
  background-color:rgba(255,255,255,0.3);
  width:100%;
  height:10%;
  }
  
    .navbar-On-Scroll {
      height: 10%;
      background-color:rgba(1,40,65,0.9);
      transition-duration: 0.6s;
      font-size: 10px;
    }
    .navbar-On-Scroll .navbar-brand {
      color: white;
    }
    .navbar-On-Scroll .navbar-custom {
     background-color:rgba(1,40,65,0.9); ;
    }
    .navbar-On-Scroll .nav-link {
      color: white;
      font-size: 15px;
      position: relative;
      background-color:transparent;      
      bottom:0;
      transition: ease all 0.6s;
    }
    .dialogInner{
        font-size:120%;
    }
  }
  .abc{
  width:100%;
    }
    
    #slideshow {
  /* border:2px solid black; */
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  height:100%;
  width:100%;
}
#slideshow > div > img{
max-width:100%;
height:100%;
}
  .about-us{
    width:50%;
    align-content: center;
    float: left;
    position:relative;
    right:10px;
  }
  .video{
  float: left;
    width: 50%;
    margin-top:90px;
    height:315px;
 
  }
  @media screen and (max-width: 768px)
  {
    .about-us{
      width:100%;
      align-content: center;
    }
    .video{
      width: 100%;
      height:100%;
      position:relative;
      bottom:20px;
    }
  }
  .section-1 {
    padding-top: 3%;
  }
  .journey{
  color:black;
position:relative;
top:30px;
z-index:-1;
  }

  .timeline {
    position: relative;
    width:100%; 
    margin-top:50px;
    box-sizing: border-box;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #27282b;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .cont {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .cont::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: black;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
 
  .right::after {
    left: -13px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #27282b;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 768px) {
  /* Place the timelime to the left */
  .journey{
  padding-bottom:30px;}
  .timeline{
    width: 90%;
    margin-top:50px;
  }
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .cont {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .cont::before {
      left: 60px;
      border: medium solid #27282b;
      border-width: 10px 10px 10px 0;
      border-color: transparent #27282b transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 20px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
  .graph{
    width:100%;
    align-content: center;
  }
  
  @media screen and (max-width:600px) {
    .graph{
      width:100%;
      align-content: center;
    }
    #curve_chart {
      width:100%; 
    }
  }
  
  .intro {
    background: #F45B69;
    padding: 100px 0;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  .marImg{
    margin: 16px;
    border:2px solid black;
    
  }
  .Linkicons{
	display:inline-block;
	width:35%;
}
.Linkicons{
display:none;
position:fixed;
left:0;
top:40%;
z-index:1;
width:30%;
}

.fa {
  display:block;
    padding:5px;
    font-size: 30px;
    width:28%;
    height:50px;
    margin:3% 0px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.5;
    color:white;
    text-decoration:none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}


   
}
    @media screen and (max-width: 1025px) { 
  #slideshow{height:90vh;}
  .fa{font-size:25px;
  width:25%;
height:45px}
 .dialogInner{
        font-size:120%px;
    }

 } 
 @media screen and (max-width: 850px) {
   #slideshow{height:75vh;}
   .fa{font-size:20px;
   width:25%;
  height:45px;}
   .dialogInner{
        font-size:80%;
    }

  }
  @media screen and (max-width: 576px) { 
    #slideshow{height:50vh;}
    .fa{font-size:15px;
    width:25%;
  height:30px;}
   .dialogInner{
        font-size:10px;
    }
    
    .dialogBox{
        width:60%;
        height:25%;
        left:20%;
    }

    }
