*{
	margin: 0;
	padding: 0;
}

.footerContainer{
	background: #000;
}

.footer{
	font-size: 20px;
	background: #000;
	height: auto;
	width: 50%;
	margin-left: 27%;
	box-sizing: border-box;
	color: #fff;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: ;
	/*border: solid 1px blue;*/
}

.footercolmain{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.col1{
	display: flex;
	width: 100%;
}

.content{
	margin: 1em;
}

.footer ul{
	list-style-type: none;
	line-height: 28px; 
}

.footer a{
	color: #777;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}

.explore{
	/*border: solid 1px red;*/
	margin-right: 10%;
}

.contact{
	/*border: solid 1px red;*/
	margin-left: 10%;
}

@media screen and (max-width: 934px){
	.col1{
		flex-direction: column;
		margin: none;
	}
	.footer{
		margin-left: 24%;
	}
	.explore{
		margin-right: 0%;	
	}
	.contact{
		margin: none;
	}
}

/*----------------------FORMATTING----------------------*/

#footerheading{
	text-align: center;
}

.footer a:hover{
	color: #fff;
}

.footer li {
    display: list-item;
    text-align: center;
}

.footer dl{
	text-align: center;
	line-height: 30px;
}

.footer dd{
	color: #555;
	font-weight: bold;
	font-size: 15px;
}

.footer dd i{
	color: #fff;
}

.pre-footer{
	background: #000;
	color: #fff;
	padding: 1em;
}

.post-footer{
	width: 100%;
	background: #000;
	color: #fff;
	border-top: solid 0.22em #ff4d4d;
}


