@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Popppins' , sans-serif;
}

.name{
	padding: 5% 0;
	position: relative;
	width: 100%;	
	height: 100%;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-top: solid #fff 1px;
	color: #fff; 
	border-bottom: solid #fff 1px;
}

.name h2{
	position: relative;
	font-size: 5em;
	color: #fff;
	z-index: 10000;
}

.name video{
	position: absolute;
	top: 0;
	left: 0;
	width: 140%;
	height: 100%;
	float: right;
	object-fit: cover;

}
/*
section .logo{
	background: url('autokriti_logo.jpg');
	background-position: center;
	background-size: contain;
	height: 100%;
	width: 10%;
	right: -25%;
	display: flex;
}*/