/*Footer*/

.footer{
	width: 100%;
	height: 100px;
	background-color: #fff;
	margin-top: 39.5%;
	padding-top: 1.1%;
	padding-left: 5%;
	border-top: solid #000 2px;
}

.copyright{
	float: left;
	margin-top: 2.1%;
}

.social-media{
	float: right;
	font-size: 20px;
	transform: translate(-50%);
}

.btn{
	display: inline-block;
	width: 60px;
	height: 60px;
	background: #f1f1f1;
	margin: 10px;
	box-shadow: 0 5px 15px -5px #00000070;
	color: #3498db;
	overflow: hidden;
	position: relative;
}

.btn i{
	line-height: 55px;
	font-size: 26px;
	transition: 0.2s linear;
}

.btn:hover i{
	transform: scale(1.3);
	color: #f1f1f1;
}

.btn::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #3498db;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.btn:hover::before{
	animation: aaa 0.7s 1;
}

@keyframes aaa{
	0%{
		left: -110%;
		top: 90%;
	}
	50%{
		left: 10%;
		top: -30%;
	}
	100%{
		top: -10%;
		left: -10%;
	}
}

.footer-sub{
	width: 100%;
	height: 10px;
	background-color: #FE8A54;
}