.section{
	width: 100%;
	height: 740px;
	background-color: #081423;
}

.blogs{
	float: left;
	margin-top: 5%;
	margin-left: 10%;
	width: 30%;
	height: 35%;
	background-color: #fff;
	background: url("books.png");
	background-size: cover;
	opacity: 0.8;
	text-align: center;
	transition: transform 0.9s;
}

.mentors{
	margin-top: 5%;
	margin-right: 10%;
	float: right;
	width: 30%;
	height: 35%;
	background-color: #fff;
	background: url("mentors.png");
	background-size: cover;
	opacity: 0.8;
	text-align: center;
	transition: transform 0.9s;

}

.support{
	float: left;
	margin-top: 5%;
	margin-left: 10%;
	width: 30%;
	height: 35%;
	background-color: #fff;
	background: url("shake.png");
	background-size: cover;
	opacity: 0.8;
	background-position: center;
	text-align: center;
	transition: transform 0.9s;

}

.gallery{
	margin-top: 5%;
	margin-right: 10%;
	float: right;
	width: 30%;
	height: 35%;
	background-color: #fff;
	background: url("gallery.png");
	background-size: contain;
	opacity: 0.8;
	text-align: center;
	transition: transform 0.9s;
}

/*Section1*/
.blogs:hover{
	transform: scale(1.1) ;
}

.blogs-in{
	color: #000;
	font-weight: bold;
	font-size: 40px;
	margin-top: 25%;
	width: 50%;
	padding-left: 40%;
}

.blogs-hover{
	font-size: 25px;
	display: none;
}

.blogs:hover .blogs-hover{
	display: inline-block;
	margin-top: 20%;
}

.blogs:hover .blogs-in{
	display: none;
}

/*Section2*/
.mentors:hover{
	transform: scale(1.1) ;
}

.mentors-in{
	color: #000;
	font-weight: bold;
	font-size: 40px;
	margin-top: 25%;
	width: 50%;
	padding-left: 35%;
}

.mentors-hover{
	font-size: 25px;
	display: none;
}

.mentors:hover .mentors-hover{
	display: inline-block;
	margin-top: 20%;
}

.mentors:hover .mentors-in{
	display: none;
}

/*Section3*/
.support:hover{
	transform: scale(1.1) ;
}

.support-in{
	color: #000;
	font-weight: bold;
	font-size: 40px;
	margin-top: 25%;
	width: 100%;
	padding-left: 7%;
}

.support-hover{
	font-size: 25px;
	display: none;
}

.support:hover .support-hover{
	display: inline-block;
	margin-top: 20%;
}

.support:hover .support-in{
	display: none;
}

/*Section4*/
.gallery:hover{
	transform: scale(1.1) ;
}

.gallery-in{
	color: #000;
	font-weight: bold;
	font-size: 40px;
	margin-top: 25%;
	width: 50%;
	padding-left: 35%;
}

.gallery-hover{
	font-size: 25px;
	display: none;
}

.gallery:hover .gallery-hover{
	display: inline-block;
	margin-top: 20%;
}

.gallery:hover .gallery-in{
	display: none;
}
