/*Janatics------------------------------------------------------------------------------*/

.cardjanatics{
	position: relative;
	width: 15%;
	height: 15%;
	transform-style: preserve-3d;	
	margin-left: 7%;
	margin-top: 5%;
	display: inline-block;
}

.cardjanatics .face					
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	align-items: center;
	background-visibility: hidden;
	transition: 1.5s ease-in-out;
	transform: perspective(500px) rotateY(0deg);
}

.cardjanatics .face.front{
	background: #ff0;			/*3b4f*/
}

.cardjanatics:hover .face.front{
	transform: perspective(500px) rotateY(180deg);
}

.cardjanatics .face.back{
	background: url("Logo_Instapro.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	transform: perspective(500px) rotateY(180deg);
}

.cardjanatics:hover .face.back{
	transform: perspective(500px) rotateY(360deg);
	background-color: #fff;
}

.cardjanatics .face h2{
	text-transform: uppercase;
	transform: perspective(500px) translateZ(50px);
}

/*KISSSOFT------------------------------------------------------------------------------*/

.cardkisssoft{
	position: relative;
	width: 15%;
	height: 15%;
	transform-style: preserve-3d;	
	margin-left: 7%;
	margin-top: 5%;
	display: inline-block;
}

.cardkisssoft .face					
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	align-items: center;
	background-visibility: hidden;
	transition: 1.5s ease-in-out;
	transform: perspective(500px) rotateY(0deg);
}

.cardkisssoft .face.front{
	background: #3bc2ff;			/*3b4f*/
}

.cardkisssoft:hover .face.front{
	transform: perspective(500px) rotateY(180deg);
}

.cardkisssoft .face.back{
	background: url("Logo_KissSoft.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	transform: perspective(500px) rotateY(180deg);
}

.cardkisssoft:hover .face.back{
	transform: perspective(500px) rotateY(360deg);
	background-color: #fff;
}

.cardkisssoft .face h2{
	text-transform: uppercase;
	transform: perspective(500px) translateZ(50px);
}

/*LPS------------------------------------------------------------------------------*/

.cardlps{
	position: relative;
	width: 15%;
	height: 15%;
	transform-style: preserve-3d;	
	margin-left: 7%;
	margin-top: 5%;
	display: inline-block;
}

.cardlps .face					
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	align-items: center;
	background-visibility: hidden;
	transition: 1.5s ease-in-out;
	transform: perspective(500px) rotateY(0deg);
}

.cardlps .face.front{
	background: #ff0;			/*3b4f*/
}

.cardlps:hover .face.front{
	transform: perspective(500px) rotateY(180deg);
}

.cardlps .face.back{
	background: url("Logo_LPS.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	transform: perspective(500px) rotateY(180deg);
}

.cardlps:hover .face.back{
	transform: perspective(500px) rotateY(360deg);
	background-color: #fff;
}

.cardlps .face h2{
	text-transform: uppercase;
	transform: perspective(500px) translateZ(50px);
}

/*MADEEASY------------------------------------------------------------------------------*/

.cardmadeeasy{
	position: relative;
	width: 15%;
	height: 15%;
	transform-style: preserve-3d;	
	margin-left: 7%;
	margin-top: 5%;
	display: inline-block;
}

.cardmadeeasy .face					
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	align-items: center;
	background-visibility: hidden;
	transition: 1.5s ease-in-out;
	transform: perspective(500px) rotateY(0deg);
}

.cardmadeeasy .face.front{
	background: #3bc2ff;			/*3b4f*/
}

.cardmadeeasy:hover .face.front{
	transform: perspective(500px) rotateY(180deg);
}

.cardmadeeasy .face.back{
	background: url("Logo_Madeeasy.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	transform: perspective(500px) rotateY(180deg);
}

.cardmadeeasy:hover .face.back{
	transform: perspective(500px) rotateY(360deg);
	background-color: #fff;
}

.cardmadeeasy .face h2{
	text-transform: uppercase;
	transform: perspective(500px) translateZ(50px);
}
