*{
	margin: 0;
	padding: 0;
}

.card{
	display: flex;
	background: #000;
	height: 600px;
	width: 90%;
	margin-left: 5%; 
	padding: 2% 1%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
}

.section1{
	width: 32%;
	height: 100%;
	margin: ;
}

.pic{
	display: flex;
	height: 45%;
	width: 100%;
	background: url('acceleronscar1.png');
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
}

.info{
	display: flex;
	height: auto;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
	padding: ;
	color: #fff;
}

.val{
	color: #aaa;
}
.val:hover{
	color: #FF8F17;
}

.section2{
	width: 32%;
	height: 100%;
	margin: ;
}

/*.descrip{
	display: flex;
	height: auto;
	width: 100%;
	line-height: 28px;
	color: #aaa;
	padding: 3%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}*/

.upgrades{
	padding: 3%;
	height: auto;
	width: 100%;
	color: #FF8F17;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.upgrades ul{
	list-style-type: none;
	line-height: 30px;
}


.section3{
	width: 32%;
	height: 100%;
	margin: 0.5%;
	padding: 1% 2%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h2{
	border-bottom: solid #fff 2px;
}

.event1{
	border: solid #333 3px;
	border-radius: 10px;
	margin: 5% 2% 0;
	height: 40%;
	width: 100%;
	color: #fff;
	line-height: 20px;
}

.event2{
	border: solid #333 3px;
	border-radius: 10px;
	margin: 5% 2% 0;
	height: 40%;
	width: 100%;
	color: #fff;
	line-height: 20px;
}

.section3 ul{
	margin-left: 20px;
	margin-top: 20px;
}

.section3 h4{
	color: #FF8F17;
}