.footer{
	width: 100%;
	height: 60px;
	background-color: #fff;
	padding-top: 1.1%;
	padding-left: 5%;

}

.copyright{
	float: left;
}

.social-media{
	float: right;
	border:solid red 1px;
}

.footer-sub{
	width: 100%;
	height: 10px;
	background-color: #FE8A54;
}